$body-color: red;

 @font-face {
     font-family: 'MyFont';
     src:  url('./fonts/Borg.ttf') format('ttf'),
           url('./fonts/Hardcore.otf') format('otf');
     font-weight : 600;
     font-style : normal;
   }

body {
  color: $body-color;
  font-size: 2rem;
  font-family: 'MyFont';
  background: url('./img/viveLeSEO.jpg')
}
